

/*
		AULAS DE CSS3 (DEGRADE E SOMBREAMENTO)

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	border-radius: 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 20px;

#box{
	width: 300px;
	height: 300px;
	background: linear-gradient(80deg, red, blue);
	background-image: linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet); 
	

}
#box h1{
	background: rgba(255, 255, 255, 0.3);
} 
*/

#box{
	width: 400px;
	height: 400px;
	margin: 50px auto;
	padding: 8px;
	background-color: #009670;
	/*box-shadow: 10px 4px 20px 10px black;*/
	box-shadow: 10px 4px blue, -10px 10px black;
}

#box h1{
	color: white;
	font-size: 60px;
	/*text-shadow: 5px 5px 10px black;*/
	/*text-shadow: 20px 20px rgba(0, 0, 0, 0.5);*/
	text-shadow: 4px 4px 10px black;
}

/*********************ANIMACOES/*********************/
@keyframes animacao_box{

	from{
		background: red; 
		border-radius: 0px; 
		top: 0; 
		left: 0;
	}
	to{
		background: yellow; 
		border-radius: 300px; 
		top: 220; 
		left: 200;}

}

#box_animacao{
	width: 300px;
	height: 300px;
	background: red;
	position: relative;

	/*animation-name: animacao_box;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-iteration-count: 2;
	animation-direction: alternate;*/

	animation: animacao_box 5s 3s 2 alternate;
}

#box_transicao{
	width: 300px;
	height: 300px;
	background: orange;
}

#box_transicao:hover{
	width: 400px;
	background: black;
	transition: all 2s;
}